/**
 * @file
 * Styles for uc_bitpaycheckout module, COD payment method.
 */

.payment-details-cod .form-item {
  display: block;
  float: left; /* LTR */
  padding-right: 5px; /* LTR */
}
[dir="rtl"] .payment-details-cod .form-item {
  float: right;
  padding-right: inherit;
  padding-left: 5px;
}
